board {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%) scale(1) ;
  top: 50%; left: 50%;
}

egg, add-more {
  padding: 10px;
}

gator svg:hover, egg svg:hover, add-more svg:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.1) drop-shadow(0 0 2px black);
  -moz-filter: brightness(1.1) drop-shadow(0 0 2px black);
  -ms-filter: brightness(1.1) drop-shadow(0 0 2px black);
  filter: brightness(1.1) drop-shadow(0 0 2px black);
}

.upper_jaw {
  transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(0deg) translate(204.654px, -644.378px);
  transition: transform 0.5s ease-out;
}
.open {
  transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(30deg) translate(204.654px, -644.378px);
}
.closed {
  transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-30deg) translate(204.654px, -644.378px);
}

board-group add-more {
  visibility: hidden;
}

board-group.col.hover > add-more,
board-group.col.hover > board-group.row > add-more {
  visibility: visible;
}

.dying  {
  transition: all 2s ease-out;
  -webkit-filter: hue-rotate(720deg) brightness(4);
  -moz-filter: hue-rotate(720deg) brightness(4);
  -ms-filter: hue-rotate(720deg) brightness(4);
  filter: hue-rotate(720deg) brightness(4);
}

.eaten {
  z-index: 9000;
  transition: transform 1s ease-out;
  transform: translateY(0px) translateX(-50px) scale(0,0) ;
  transform-origin: left;
  overflow: visible;
}


gator, egg, add-more, board-group {
  vertical-align: middle;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
}

board-group.row {
  display: inline-block;
  border: 1px solid transparent;
}

svg { pointer-events: none; }
svg g { pointer-events: all; }

board-group.col {
  display: inline-block;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px;
}


board-group.col > * {
  display: block;
}

board-group.row > * {
  display: inline-block;
}

board-group.hover.col {
  cursor: pointer;
  border-color: #beb;
  background: linear-gradient(0deg, #f3fff3, #fff);
}
