toolbar {
  z-index: 10;
  height: 45px;
  border: 2px solid #ccc;
  background: linear-gradient(0deg, #fcfcfc, #fff);
  position: fixed;
  border-radius: 15px;
  top: 10px;
  left: 10px;
  right: 10px;
  padding-left: 10px;
}

toolbar {
  user-select: none;
  -webkit-user-select: none;
}

body {
  overflow: hidden;
}

board {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%) scale(1) ;
  top: 50%; left: 50%;
}

gator {
  width: 180px;
  height: 100px;
}

gator.short {
  height: 72px;
}


egg {
  height: 27px;
  width: 40px;
}

add-more {
  height: 27px;
  width: 40px;
}

gator svg:hover, egg svg:hover, add-more svg:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.1) drop-shadow(0 0 2px black);
  -moz-filter: brightness(1.1) drop-shadow(0 0 2px black);
  -ms-filter: brightness(1.1) drop-shadow(0 0 2px black);
  filter: brightness(1.1) drop-shadow(0 0 2px black);
}

.colored {
  transition: all 0.5s ease-in;
}

.upper_jaw {
  transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(0deg) translate(204.654px, -644.378px);
}


@keyframes eating-jaw {
    0%   { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(0deg) translate(204.654px, -644.378px); }
    20%  { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(30deg) translate(204.654px, -644.378px);  }
    36% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-30deg) translate(204.654px, -644.378px); }
    43% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-20deg) translate(204.654px, -644.378px); }
    50% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-30deg) translate(204.654px, -644.378px); }
    56% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-20deg) translate(204.654px, -644.378px); }
    63% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-30deg) translate(204.654px, -644.378px); }
    100% { transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(0deg) translate(204.654px, -644.378px); }
}

board-group add-more {
  visibility: hidden;
}

add-more {
  display: inline-block;
}

board-group egg,
add-more {
  padding: 10px;
}

board-group.col.hover > add-more,
board-group.col.hover > board-group.row > add-more {
  visibility: visible;
}

.dying  {
  transition: all 1.4s ease-in-out;
  -webkit-filter: hue-rotate(720deg) brightness(5);
  -moz-filter: hue-rotate(720deg) brightness(5);
  -ms-filter: hue-rotate(720deg) brightness(5);
  filter: hue-rotate(720deg) brightness(5);

  transform: rotate(-180deg);
}

gator {
  transition: all 0.5s ease-out;
}

.eating {
  z-index: 9001;
  position: relative;
  transform-origin: middle;
}

.eating .upper_jaw {
  animation-name: eating-jaw;
  animation-duration: 3s;
  transform: matrix(1.25,0,0,-1.25,448.13052,862.32916) translate(-204.654px, 644.378px) rotate(-30deg) translate(204.654px, -644.378px);
}

.eaten {
  z-index: 9000;
  position: relative;
  transition: all 1s ease-out;
  transform-origin: middle;
}


board,
board-group {
  vertical-align: middle;
  text-align: center;
  white-space:nowrap;
}


board-group.row {
  display: inline-block;
  border: 1px solid transparent;
}

board-group.col board-group.row {
  min-height: 3em;
  min-width: 5em;
}

svg { pointer-events: none; }
svg g { pointer-events: all; }

board-group.col {
  display: inline-block;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

board-group.col > gator {
  display: block;
}

board-group.row > * {
  display: inline-block;
}

board-group.hover.col {
  cursor: pointer;
  border-color: #beb;
  background: linear-gradient(0deg, #f3fff3, #fff);
}

.modal-overlay {
  transition: opacity 0.2s ease-in;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.modal-overlay.shown {
  opacity: 0.5;
  pointer-events: all;
}

.modal {
  opacity: 0.9;
  display: hidden;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
}

.modal.shown {
  transform: translate(-50%, -50%) scale(1) ;
  display: inline-block;
}


#new-selector {
  vertical-align: middle;
  text-align: center;
  max-width: 500px;
  padding: 30px;
  z-index: 12;
  position: absolute;
  top: 50%; left: 50%;
  border: 1px solid #999;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 0 0 5px #aaaaaa;
}

#family-modal i.fa {
  font-size: 30pt;
  padding: 10px;
  color: #2 31f20;
}


#family-modal {
  vertical-align: middle;
  text-align: center;
  max-width: 500px;
  padding: 30px;
  z-index: 12;
  position: absolute;
  top: 50%; left: 50%;
  border: 1px solid #999;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 0 0 5px #aaaaaa;
}

#new-selector gator,
#new-selector egg {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.drag-placeholder {
  border: 1px dashed #7a7;
  min-width: 5em;
  min-height: 5em;
}

.collapsed * {
  display: none;
}

.collapsed {
  border-radius: 20px;
  padding: 10px;
  background-color: #f77
}

#family-modal i.fa:hover {
 cursor: pointer;
 -webkit-filter: brightness(1.1) drop-shadow(0 0 2px black);
 -moz-filter: brightness(1.1) drop-shadow(0 0 2px black);
 -ms-filter: brightness(1.1) drop-shadow(0 0 2px black);
 filter: brightness(1.1) drop-shadow(0 0 2px black);
}

toolbar i.fa:hover {
 cursor: pointer;
 -webkit-filter: drop-shadow(0 0 2px #ccc);
 -moz-filter: drop-shadow(0 0 2px #ccc);
 -ms-filter: drop-shadow(0 0 2px #ccc);
 filter: drop-shadow(0 0 2px #ccc);
}

toolbar i.fa {
  font-size: 25pt;
  padding: 5px;
  color: #999;
}
